<nav class="text-lg col-span-2">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="flex justify-start space-x-14">
        {%- for entry in navPages %}
            <li class="py-2.5 text-gray-800 font-semibold rounded-sm">
                <a href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="current item" {% endif %}>{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>
</nav>