---
layout: layouts/menu.njk
title: Menu
metaDescription: Los Tarascos Bakery and Deli menu. Authentic, local Mexican bakery and deli in Santa Barbara, CA.
date:
permalink: /menu/index.html
eleventyNavigation:
  key: Menu
  order: 1
---